<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Google Map</title>
    <link href="/blog/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="map" style="width:100%; height: 85vh;"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB-0PR2Am2Yp47T59CZkiCmdP2c3PHA58&callback=initMap&region=kr"></script>
    <script src="/blog/static/js/mapPopup.js"></script>
    <div>
        <button class = "btn_ok" onclick="window.close()">확 인</button>
    </div>
</body>
</html>