<html>
    <head>
        <meta charset="utf-8">
        <title>Django test</title>
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/demo.css?v=17" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.1/hands.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body style="background-color: skyblue;">

        <!-- 비디오 입력 -->
        <video class="input_video"></video>
        <div style="text-align: center;">
            <!-- 테스트 이미지 -->
            <!--<img src="/blog/static/img/IC.png" width="960px" height="600px">-->
            
            <canvas class="output_canvas" width="960px" height="600px"></canvas>
            <!-- 음성인식 버튼 -->
            <button id="start_button" onclick="startButton(event)">
                <img id="start_img" width="80px" height="80px" src="/blog/static/img/mic.gif" alt="Start"></button>
            
            <!-- 필요 없지만 없으면 작동 X -->
            <!-- 음성인식 결과 출력 (hide) -->
            <div id="results">
              <span id="final_span" class="final"></span>
              <span id="interim_span" class="interim"></span>
              <p>
            </div>
            <div class="center">
              <p>
              <!-- 안내문자, 언어 설정 버튼 (hide) -->
              <div id="div_language">
                <select id="select_language" onchange="updateCountry()"></select>
                &nbsp;&nbsp;
                <select id="select_dialect"></select>
              </div>
            </div>
            <!-- 음성인식 결과 출력 (hide) -->

            <script src="mapPopup.js"></script>
            <script src="officeInfo.js"></script>
            
        </div>

        <!-- 이쪽에 마이크로 음성 인식해서 출력하는 부분 넣어야 함-->
      <h1 class="center" id="headline">
        <!-- <a href="http://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">
          Web Speech API</a> Demonstration</h1> -->

      <!-- 음성인식 결과 출력 (hide) -->
      <div id="results">
        <span id="final_span" class="final"></span>
        <span id="interim_span" class="interim"></span>
        <p>
      </div>

      <script src="/blog/static/js/test.js?v=64" crossorigin="anonymous" type="text/javascript"></script>
    </body>
</html>