<html>
    <head>
        <meta charset="utf-8">
        <title>Django test</title>
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/blog/static/css/demo.css?v=17" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.1/hands.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 id = "result">테스트</h1>
            <canvas class="output_canvas" width="1280px" height="720px"></canvas>
            <video class="input_video"></video>
            
        </div>

        <!-- 이쪽에 마이크로 음성 인식해서 출력하는 부분 넣어야 함-->
      <h1 class="center" id="headline">
        <!-- <a href="http://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">
          Web Speech API</a> Demonstration</h1> -->
      <!-- 음성인식 버튼 -->
      <div class="right">
        <button id="start_button" onclick="startButton(event)">
          <img id="start_img" width="100px" height="100px" src="/blog/static/img/mic.gif" alt="Start"></button>
      </div>
      <!-- 음성인식 결과 출력 (hide) -->
      <div id="results">
        <span id="final_span" class="final"></span>
        <span id="interim_span" class="interim"></span>
        <p>
      </div>
      <div class="center">
        <p>
        <!-- 안내문자, 언어 설정 버튼 (hide) -->
        <div id="div_language">
          <select id="select_language" onchange="updateCountry()"></select>
          &nbsp;&nbsp;
          <select id="select_dialect"></select>
        </div>
      </div>
      <script src="/blog/static/js/test.js?v=64" crossorigin="anonymous" type="text/javascript"></script>
    </body>
</html>