body {
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0px 0px;
    overflow: hidden;
}

.container {
    position: absolute;
    /*background-color: #596e73;*/
    height: 720px;
    width: 1280px;
}

.input_video {
    position:absolute;
    height: 720px;
    width: 1280px;
    top: 90;
    left: 0;
    transform: scale(-1, 1);
    
}

.output_canvas {
    display: none;
}

#result {
    margin-left: 30px;
}