body {
  background-color: skyblue;
  text-align: center;
}

.office_body {
  background-color: skyblue;
  text-align: center;
}

div {
  text-align: center;
}
div.right {
  position: absolute;
  right: 350px;
}

#results {
  background-color: white;
  width: 960px;
  position: relative;
  left: 472px;
}

video {
  visibility: hidden;
}

table {
  text-align: center;
}

.table-info {
  font-size: 20px;
}

#table-contents {
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

div #div_language {
  visibility: hidden;
}

#map {
  bottom: 10px;
}

.btn_ok {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: white;
  vertical-align: middle;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn_ok span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_ok span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_ok:hover span {
  padding-right: 25px;
}

.btn_ok:hover span:after {
  opacity: 1;
  right: 0;
}
